*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.menu{
    background-color: #40868b;
    display: flex;
    justify-content: space-between;
}
.menu a{
    text-decoration: none;
    padding: 20px;
    color:white;
    font-size: 1.4rem;
}
.menu a:hover{
    background-color: tomato;
    cursor: pointer;}

.banner-container{
    
margin:50px auto 0;
max-width: 1400px;
min-height: 50px;
width: 50%;
display: flex;
align-items: center;
padding: 10px;

}




.banner-text{
    
   
width: 50%;
text-align: center;

}

.banner-image{
width: 50%;
}

.banner-image img{
    width: 100%;
    height: 100%;
}
.banner-text h1{
    background-image: linear-gradient(to bottom,red,blue);
    color: transparent;
    -webkit-background-clip: text;
}

.banner-button{
    background-color: #4EC5F7;
    padding: 15px 25px;
    
    border: 0;
    margin-right: 30px;
    margin-top: 20px;
    
}
.banner-container2{
    
    margin:50px auto 0;
    max-width: 1400px;
    min-height: 50px;
    width: 50%;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
}
.banner-image2{
    width: 50%;
}
.banner-text2{
    width: 50%;
    text-align: right;
}
.banner-button2{
    background-color: #4EC5F7;
    padding: 15px 25px;
    border-radius: 20px;
    border: 0;
    margin-right: 30px;
    margin-top: 20px;
    
}
.banner-image2 img{
    width: 100%;
    height: 100%;}

    .banner-text2 h1{
        background-image: linear-gradient(to bottom,red,blue);
        color: transparent;
        -webkit-background-clip: text;
        font-size: 3rem;
        font-weight: 800;
    }
.funny-game{
    background-image: linear-gradient(to bottom,red,blue);
    color: transparent;
    -webkit-background-clip: text;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
    max-width: 1400px;
    margin:50px auto 0;
    min-height: 500px;
}

    .single-img{

        
    
        border-radius: 20px;
    padding: 15px 20px;
    }
    

    .single-img img{
        width: 100%;
        display: block;
        margin: 0 auto;
    }
.discount-section{
max-width: 1400px;
margin: 0 auto;
min-height: 200px;
display: flex;
align-items: center;
}
.discount-img{
width: 50%;
}
.discount-img img{
    width: 70%;
    height: 100%;
    display: block;
    margin: 0 auto;
}
/* Game style start here */
/* .game-container{
    
    min-height: 400px;
    margin-top: 50px;
display: flex;
}
.single-game{
border: 2px solid green;
flex-basis: 300px;
} */
.game{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.games{
    
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 150px;
    border-radius: 20px;color: tomato;
}
.game-over{
    margin-top: 50px;
    display:flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.game2-over{
    margin-top: 50px;
    display:flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.logo{
    display: flex;
    padding: 30px;
    gap: 30px;
    font-size: 3rem;
    align-items: center;
    text-align: center;
    justify-content: center;
}
    .logo-icon{
color: rgb(246, 85, 56);

    }

.footer{
    
    height: 436px;
    width: 1300px ;
    background-color: #0B0223;
    color: white;
    margin: 0 auto;
    margin-top: 40px;
}
.footer-link a{
    text-decoration: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    color: white;
     padding: 25px; ;
}
    .footer-link{
        text-decoration: none;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
        color: white;
        padding: 25px;

    }
    .media{
        text-align: center;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
        color: white;
         padding: 25px; ;
         margin-left: 40px;
        
    }
    .media span{
        
        text-align: center;
        align-items: center;
        justify-content: center;
        
        color: white;
         padding: 25px; ;
         margin-left: 40px;
        
    }
    .coolor{
        color: rgb(249, 63, 31);
    }
    .image-size{
        height: 400px;
        width: 300px;
        
    }
    .image-part{
        display: flex;
        margin: 0 auto;
        align-items:center;
        text-align: center;
        justify-content: center;
    }
    .image2-size{
        height: 180px;
        width: 130px;
        margin-left: -300px;
        align-items:center;
        text-align: center;
        justify-content: center;
        ;


    }
.class{
    margin-right: 120px;
     font-size: 1.2rem;
     font-weight: 800;
}































    @media screen and (max-width:768px) {
        .grid-container{
            grid-template-columns: repeat(2,1fr)
        }
    }




     @media screen and (max-width:576px) {
        .menu,.logo{
            flex-direction: column;
            padding: 15px;
        }
        
        .menu a, .footer-link{
            background-color: indigo;
            margin:10px 0;
            text-align: center;
            border-radius: 13px;
        }
        .banner-container{
            flex-direction: column;
        }
        .banner-text,.banner-image{
            width: 100%;
        }
        .banner-container2{
            flex-direction: column;
        }
        .banner-text2,.banner-image2{
            width: 100%;
        }
        .banner-button2{
            padding-bottom: 30px;
            padding-top: 16px;
        }
        .grid-container{
            grid-template-columns: 1fr;
        }
.game{
    flex-direction:column;
}


     }

