*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.menu{
    background-color: #40868b;
    display: flex;
    justify-content: space-between;
}
.menu a{
    text-decoration: none;
    padding: 20px;
    color:white;
    font-size: 1.4rem;
}
.menu a:hover{
    background-color: tomato;
    cursor: pointer;}

.banner-container{
    border: 2px solid rgb(28, 10, 10);
margin:50px auto 0;
max-width: 1400px;
min-height: 50px;
width: 50%;
display: flex;
align-items: center;
padding: 10px;
border-radius: 20px;
}




.banner-text{
    
   
width: 50%;
text-align: center;

}

.banner-image{
width: 50%;
}

.banner-image img{
    width: 100%;
    height: 100%;
}
.banner-text h1{
    background-image: linear-gradient(to bottom,red,blue);
    color: transparent;
    -webkit-background-clip: text;
}

.banner-button{
    background-color: #4EC5F7;
    padding: 15px 25px;
    border-radius: 20px;
    border: 0;
    margin-right: 30px;
    margin-top: 20px;
    
}


















































     @media screen and (max-width:576px) {
        .menu{
            flex-direction: column;
            padding: 15px;
        }
        .menu a{
            background-color: indigo;
            margin:10px 0;
            text-align: center;
            border-radius: 13px;
        }
        .banner-container{
            flex-direction: column;
        }
        .banner-text,.banner-image{
            width: 100%;
        }
        
     }